@mixin fill {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
}

@mixin max-width($width) {
  @media screen and (max-width: $width) {
    @content
  }
}

@mixin min-width($width) {
  @media screen and (min-width: $width) {
    @content
  }
}

@mixin fluid($width, $height, $base-width: $screen-width) {
  position: relative;
  height: auto;

  > * { @include fill;  }

  width: $width / $base-width * 100%;
  padding-top: $height / $base-width * 100%;
}