html, body {
  height: 100%;
}

body {
  overflow: hidden;

  @include flex-column(center);
}

#screen {
  position: relative;

  min-width: 320px;
  max-width: $screen-width;
  width: 100%; height: 100%;

  @include flex-column(center);
  @include justify-content(space-between);

  #logo  { @include flex(0 0 auto); }
  #stack { @include flex(1 1 auto); }
  #buttons { @include flex(0 0 auto); }
}

#logo {
  width: 241px; height: 65px;
  margin: $large-space auto 0;
}

#stack {
  margin: $large-space;
  width: $card-width;
}

#buttons {
  margin-bottom: $large-space;
}

@include max-width(480px) {
  #stack {
    width: $card-width * 0.8;
  }
}
@include max-width(360px) {
  #stack {
    width: $card-width * 0.7;
  }
}
@include max-height(700px) {
  #stack {
    width: $card-width * 0.8;
  }
}
@include max-height(620px) {
  #stack {
    width: $card-width * 0.7;
  }
}
@include max-height(580px) {
  #stack {
    width: $card-width * 0.6;
  }
}

#buttons {
  @include flex-row;
  @include justify-content(center);

  :first-child {
    margin-right: 3 * $large-space;
  }
}

#province-chooser, #result {
  @include fill;
}