html, body {
  height: 100%;
}

@include max-width(480px) {
  body {
    overflow: hidden;
  }
}

#logo {
  width: 241px; height: 65px;
  margin: $large-space auto 0;
}

#screen {
  min-width: 320px;

  position: absolute;
  left: 50%; top: 50%;
  bottom: auto; right: auto;
  margin-left: -$screen-width / 2;
  margin-top: -$screen-height / 2;

  width: $screen-width;
  height: $screen-height;
}

#stack {
  position: absolute;
  left: 50%; top: 36%;
  margin-left: -$card-width / 2;
  margin-top: -$card-height / 2;

  width: $card-width;
  height: $card-height;
}

#buttons {
  position: absolute;
  left: 0; right: 0;
  bottom: 0;
  @include clearfix;

  margin: 22px auto;
  width: 224px;

  :first-child {
    float: left;
  }
  :last-child {
    float: right;
  }
}

#province-chooser, #result {
  @include fill;
}

#result {
  display: none;
}

@include max-width(480px) {

  #screen {
    @include fill;
    margin-left: 0; margin-top: 0;
    width: auto; height: auto;
  }

  #logo {
    @include fluid(241px, 65px);
  }

  #stack {
    @include fluid($card-width, $card-height);
    margin-left: 0; margin-top: 0;
    margin-left: -($card-width / $screen-width * 100%) / 2;
    margin-top: -($card-height / $screen-width * 100%) / 2;
  }

}
