body {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 24px;
  color: $fg-color;
}

* {
  @include box-sizing(border-box);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  background: #bfbfbf;
}
#screen {
  background: white;
}