<Limit GET POST PUT DELETE>
  Order deny,allow
  Deny from all
  Allow from 37.17.208.217    # Desmet
  Allow from 80.101.96.97     # Joost thuis
  Allow from 92.68.255.81     # Bellevue
</Limit>

DirectoryIndex index.html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/$
RewriteRule ^(.*)$ app.php [QSA,L]