button {
  cursor: pointer;
  font-size: inherit;
}

button.again, button.share {
  @include border-radius(6px);
  border: 6px solid #e2e1e1;
  padding: $small-space;
  text-transform: lowercase;

  color: $fg-color;
  background: none;
  line-height: 25px;

  i {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
  }

  i.facebook {
    width: 20px; height: 20px;
    background: url(../img/facebook.png);
    background-size: 20px 20px;
  }

  &:active {
    background-color: #e2e1e1;
  }
}

button.vote {
  text-indent: -99999px;
  width: 70px; height: 70px;

  @include border-radius(70px);
  border: 8px solid #e2e1e1;
  background: white center center no-repeat;
  background-size: 35px 35px;

  &.cross {
    background-image: url(../img/cross.png);
  }
  &.heart {
    background-image: url(../img/heart.png);
  }

  &:active {
    background-color: #e2e1e1;
  }
}