article.card {
  position: relative;

  width: $card-width; height: $card-height;

  background: white;

  .vote {
    position: absolute;
    top: 0; right: 0;
    margin: $large-space;
    width: 50px; height: 50px;
    background-size: 50px 50px;
  }

  &.fail .vote {
    background-image: url(../img/cross.png);
  }
  &.pass .vote {
    background-image: url(../img/heart.png);
  }

  figure img {
    @include border-radius(7px 7px 0 0);
    width: $card-width - 2px;
    height: $card-width - 2px;
  }

  border: 1px solid $border-color;
  @include border-radius(8px);

  h2 {
    padding: $large-space;
    height: $card-label-height;
    font-size: $card-label-height - 4px;
  }

  @include user-select(none);

}