article.card {
  position: absolute;

  top: 0; left: 0; right: 0;

  background: white;

  i.vote {
    position: absolute;
    top: 0; right: 0;
    margin: $large-space;
    width: 50px; height: 50px;
    background-size: 50px 50px;
  }

  &.fail .vote {
    background-image: url(../img/cross.png);
  }
  &.pass .vote {
    background-image: url(../img/heart.png);
  }

  figure {
    // Make sure that the image is square.
    position: relative;
    padding-top: 100%;

    img {
      @include fill;
      @include border-radius(7px 7px 0 0);
    }
    overflow: hidden;
  }

  border: 1px solid $border-color;
  @include border-radius(8px);

  h2 {
    padding: $large-space;
    font-size: 24px;
  }

  @include user-select(none);

  // @include max-width(480px) {
  //   @include fluid($card-width, $card-height, $card-width);
  //   figure {
  //     top: 0; left: 0; right: 0;
  //     width: auto;
  //     height: $card-width / $card-height * 100%;
  //   }
  //   h2 {
  //     top: $card-width / $card-height * 100%;
  //     left: 0; right: 0;
  //     font-size: 28px;
  //     padding: 4%;
  //   }
  // }

}