#province-chooser {

  background: white;

  header {
    padding: $large-space 0;
  }

  h1 {
    width: 334px; height: 90px;
    margin: 0 auto;
  }

  h2 {
    width: 233px; height: 26px;
    margin: $large-space auto 0;
  }

  h1, h2 {
    text-align: center;
  }

  footer {
    width: $screen-width; height: 102px;
  }

  ul {
    height: $screen-height - 90px - 26px - 102px - 5 * $large-space;
    margin: $large-space #{5 * $large-space};
  }

  li {
    padding: 4px 0 0;
    border-bottom: 1px solid $fg-color;

    cursor: pointer;

    .check {
      display: inline-block;
      vertical-align: middle;
      margin-right: $small-space;

      position: relative;
      top: -2px;

      width: 26px; height: 26px;
      border: 2px solid #4f4e4e;
      @include border-radius(3px);

      i {
        position: absolute;
        top: 0; left: -1px;
        width: 28px; height: 40px;

        background: url(../img/vinkje.png);
        background-size: 28px 40px;
      }
    }

    .check i { display: none; }
    &.selected .check i { display: block; }
  }

  @include max-width(480px) {
    h1 {
      @include fluid(334px, 90px);
      z-index: 2;
    }
    h2 {
      @include fluid(233px, 26px);
      z-index: 2;
    }
    header {
      position: relative;
      z-index: 2;
      background: white;
    }
    footer {
      z-index: 2;
      @include fluid($screen-width, 102px);
      position: absolute;
      left: 0; right: 0;
      bottom: 0;
    }
    ul {
      z-index: 1;
      height: auto;
      margin: 0;
      padding-left: #{3 * $large-space};
      padding-right: #{3 * $large-space};
      padding-top: 43%;
      padding-bottom: 21.25%;
    }
    .scroller {
      @include fill;
      overflow: auto;
    }
  }

}