#province-chooser {

  background: white;

  @include flex-column(center);

  header {
    @include flex-column(center);
    @include flex(0 0 auto);
    padding: $large-space 0;
  }
  .scroller {
    @include flex(1 1 auto);
    overflow: hidden;
  }
  footer {
    @include flex(0 0 auto);
  }

  h1 {
    width: 334px; height: 90px;
  }

  h2 {
    width: 233px; height: 26px;
    margin: $large-space auto 0;
  }

  h1, h2 {
    text-align: center;
  }

  footer {
    width: $screen-width;
    height: 102px;
  }

  .scroller {
    overflow: auto;
    width: 100%;
  }

  ul {
    margin: $large-space #{3 * $large-space};
  }

  li {
    padding: 4px 0 0;
    border-bottom: 1px solid $fg-color;

    cursor: pointer;

    .check {
      display: inline-block;
      vertical-align: middle;
      margin-right: $small-space;

      position: relative;
      top: -2px;

      width: 26px; height: 26px;
      border: 2px solid #4f4e4e;
      @include border-radius(3px);

      i {
        position: absolute;
        top: 0; left: -1px;
        width: 28px; height: 40px;

        background: url(../img/vinkje.png);
        background-size: 28px 40px;
      }
    }

    .check i { display: none; }
    &.selected .check i { display: block; }
  }

  @include max-width(480px) {
    h1 {
      width: 267px; height: 72px;
    }
    h2 {
      width: 186px; height: 21px;
    }
  }

}