#result {

  background: white;

  @include flex-column(center);

  h1, h2 {
    @include flex(0 0 auto);
    padding: $large-space 0;
  }
  footer {
    @include flex(0 0 auto);
  }
  .result {
    @include flex(1 1 auto);
  }

  h1 {
    width: 334px; height: 90px;
  }

  h2 {
    width: 148px; height: 26px;
  }

  p {
    width: 259px; height: 60px;
    margin: 3 * $large-space auto 0;
  }
  p.invalid {
    width: 277px; height: 194px;
    margin: $large-space auto 0;
  }
  p.small-party {
    width: 199px; height: 51px;
    margin-bottom: $large-space;
  }

  .result {
    margin: $large-space auto 0;
  }

  h1, h2, p {
    text-align: center;
  }

  figure {
    text-align: center;
    width: 200px; height: 200px;
  }

  .small-parties {
    width: 200px; height: 200px;

    figure {
      font-size: 6px;
      width: 66px - $small-space; height: 66px - $small-space;
      float: left;
      margin-right: $small-space;
      margin-bottom: $small-space;
    }
  }

  footer.button {
    padding: $large-space;
    text-align: center;
    button { display: inline-block; }
  }

  footer.branding {
    width: $screen-width;
    height: 102px;
  }

  @include max-width(480px) {
    h1 {
      width: 267px; height: 72px;
    }

    h2 {
      width: 118px; height: 21px;
    }

    p {
      width: 207px; height: 48px;
      margin: 3 * $large-space auto 0;
    }
    p.invalid {
      width: 262px; height: 184px;
    }

  }

}

html.no-flexbox #result {

  h1 {
    width: 267px; height: 72px;
    margin-left: auto; margin-right: auto;
  }

  h2 {
    width: 118px; height: 21px;
    margin-left: auto; margin-right: auto;
  }

  p {
    width: 207px; height: 48px;
    margin: 3 * $large-space auto 0;
  }
  p.invalid {
    width: 262px; height: 184px;
  }

  footer.branding {
    width: 320px; height: 68px;
  }

}