#result {

  background: white;

  @include flex-column(center);

  h1, h2 {
    @include flex(0 0 auto);
    padding: $large-space 0;
  }
  footer {
    @include flex(0 0 auto);
  }
  .result {
    @include flex(1 1 auto);
  }

  h1 {
    width: 334px; height: 90px;
  }

  h2 {
    width: 148px; height: 26px;
  }

  p {
    width: 259px; height: 60px;
    margin: 3 * $large-space auto 0;
  }
  p.invalid {
    width: 328px; height: 230px;
  }

  h1, h2, p {
    text-align: center;
  }

  figure {
    text-align: center;
    width: 200px; height: 200px;
    background: #e2e1e1;
    margin: $large-space auto 0;
  }

  footer.button {
    padding: $large-space;
    text-align: center;
    button { display: inline-block; }
  }

  footer.branding {
    width: $screen-width;
    height: 102px;
  }

  @include max-width(480px) {
    h1 {
      width: 267px; height: 72px;
    }

    h2 {
      width: 118px; height: 21px;
    }

    p {
      width: 207px; height: 48px;
      margin: 3 * $large-space auto 0;
    }
    p.invalid {
      width: 262px; height: 184px;
    }

  }

}